APP_NAME=admin-api
APP_ENV=develop
HTTP_ADDRESS=:8080
POSTGRES_DSN=postgres://user:password@127.0.0.1:5432/console_develop?sslmode=disable
SANDBOX_POSTGRES_DSN=postgres://user:password@127.0.0.1:5432/console_sandbox?sslmode=disable
PRODUCTION_POSTGRES_DSN=postgres://user:password@127.0.0.1:5432/console_production?sslmode=disable

